<%= render "layouts/customer_header" %>
  <div class="container">
    <div class="row">
      <div class="card mx-auto d-block mt-5" style="width: 18rem;">
        <%= image_tag @menu.image.thumb.url ,class:"card-img-top"%>
          <div class="card-body">
            <h5 class="card-title"><%= @menu.product_name %></h5>
            <p class="card-text"><%= @menu.price%>円</p>
            <div class="text-right">
              <%= button_to "カートへ追加", add_item_path,{params: {menu_id: @menu.id}}%> 
            </div>
         </div>
       </div>
    </div>
  </div>

