<%= render "admin/header"%>
<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar"%>
      <div class="container">
        <div class="row">
          <table class="table table-bordered mt-5 text-right">
          <thead>
            <tr>
              <th>オーダーNo</th>
              <th>商品</th>
              <th>受け取り時間</th>
            </tr>
          </thead>
            <% @order.each_with_index do |order, i|%>
              <tbody>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= order.menu.product_name%></td>
                  <td><%= order.cart.takeout_time.strftime("%H:%M") %></td>
                </tr> 
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
  </div>
</div>






