<%= render "admin/header"%>

<div class="container">
  <div class="col-sm-6 mx-auto mt-5">
  <%= form_with url: admin_account_shops_path, model: @shop, local: true do |f| %>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
            
      <div class="form-group">
        <%= f.label :regular_holiday %>
        <%= f.text_field :regular_holiday, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :opening_hours %>
        <%= f.time_select :opening_hours,:minute_step => 15 , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :closing_time %>
        <%= f.time_select :closing_time, :minute_step => 15 ,class: "form-control" %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary "%>
    <% end %>
  </div>
</div>