<%= render "layouts/customer_header"%>
<div class="container">
  <% if @cart_items.present? %>
    <h3 class="mt-2">カート内</h3>
    <%= render "layouts/flash_messages" %>
    <div class="row">
      <table class="table table-bordered mt-5 text-right">
        <thead>
          <tr>
            <th>商品</th>
            <th>店名</th>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <% @cart_items.each do |order| %>
          <tbody>
            <tr>
              <th scope="row"><%= image_tag order.menu.image.thumb.url, width:"100px" %></th>
              <td><%= link_to order.menu.account.shop_name, shop_path(order.menu.account.id) %></td>
              <td><%= order.menu.product_name%></td>
              <td><%= order.menu.price%>円</td>
              <td><%= order.quantity%></td>
              <td><%= order.menu.price * order.quantity%>円</td>
              <td><%= link_to "削除", delete_item_path(order.id), method: :delete, data:{confirm: "削除しますか？"}%></td>
            </tr> 
          </tbody>
        <% end %>
      </table>
    </div>
    <p class="text-right font-weight-bold">合計金額 <%= @total_price.to_s(:delimited) %>円</p>
    <%= form_with model: @cart, url: pay_cart_path, method: :post, local: true do |f|%>
    <p>下記の受け取り時間を選択してください。下記選択後決済ボタンが表示されます。</p>
    <div class="form-group">
      <%= f.label :takeout_time %>
      <%= f.time_select :takeout_time, start_hour: 10, end_hour: 23, :minute_step => 10, prompt:true, ignore_data:true %>
    </div>
    <div id="credit">
    <script
      type="text/javascript"
      src="https://checkout.pay.jp"
      class="payjp-button"
      data-key="<%= ENV['PAYJP_PUBLIC_KEY'] %>">
    </script>
    </div>
    <% end %>
  <% else %>
    <h3 class="mt-2">カート内は空です。</h3>
  <% end %>
</div>
