<%= render "admin/header"%>

<div class="container-fluid">
  <div class="row">
<%= render "layouts/sidebar"%>
  <div class="col-sm-6 mx-auto mt-5">
    <%= render 'layouts/flash_messages' %>
      <h3>商品情報編集</h3>
  <%= form_with model: @menu, url: admin_account_menu_path, local: true do |f| %>

      <div class="form-group">
        <%= f.label :product_name %>
        <%= f.text_field :product_name, class: "form-control" %>
      </div>
            
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, id: "user_img", class: "form-control" %>
        <% if @menu.image.present? %>
          <%= image_tag @menu.image.url, id: :img_prev %>
        <% else %>
          <%= image_tag "noimage.png", id: :img_prev %>
        <% end %>

      </div>
      <%= f.submit "更新", class: "btn btn-primary "%>
    <% end %>
    </div>
  </div>
</div>

