<!DOCTYPE html>
<html>
  <head>
    <title>Seventy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> 
    <%= javascript_pack_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFHUWf4eF8MsJvRQtNKzGRvQ3vIuXeeUw"></script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
